.footer__copyright {
  color: #545454;
}

.footer {
  width: 318px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
  margin-top: 67px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
