.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal__heading {
  color: black;
  margin: 0 0 54px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-radius: 1px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  width: 100%;
}

.modal__container {
  position: relative;
  padding: 36px 36px 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  margin-top: -80px;
  margin-left: 390px;
  width: 40.7px;
  height: 40.7px;
  background-image: url("../images/CloseIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__deleteimg {
  width: 430px;
  height: 181px;
  top: 290px;
  position: absolute;
  margin-top: -6px;
}

.modal__form {
  flex-direction: column;
  display: flex;
}

.modal__button {
  height: 50.15px;
  background-repeat: no-repeat;
  border-radius: 2px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

.modal__button_confirm {
  margin-top: -20px;
}

.modal__preview-image {
  position: relative;
  background-color: transparent;
  margin-top: 90px;
}

.modal__image {
  width: 433px;
  height: 540px;
}

.modal__label {
  position: relative;
  display: flex;
}

.modal__close.modal__close-image {
  width: 40px;
  height: 40px;
  top: 68px;
  left: 82px;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: 33px;
  left: 0px;
  transition: opacity 0.3s;
}

.modal__button_disabled {
  background-color: rgb(194, 194, 194);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__input_type_error {
  border-bottom: 1px solid rgb(224, 12, 12);
}

.modal__avatar {
  width: 430px;
  height: 272px;
}

@media screen and (max-width: 765px) {
  .modal__container {
    width: 282px;
    height: 322px;
    margin-top: 118px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 21px;
    width: 238px;
    height: 22px;
  }

  .modal__button {
    height: 46px;
    margin-bottom: 45px;
    font-size: 14px;
  }
  .modal__button_confirm {
    margin-top: 31px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: -145px;
    top: 41px;
  }

  .modal__close.modal__close-image {
    width: 30px;
    height: 30px;
    top: 46px;
    left: -128px;
  }

  .modal__image {
    width: 240px;
    height: 299px;
    margin-top: -33px;
    margin-left: -15px;
  }
  .modal__deleteimg {
    width: 282px;
    height: auto;
    margin-top: -168px;
    margin-right: 15px;
  }
}
.title {
  margin-top: 0 22px 0 22px;
  border-bottom: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
}
.description {
  border-radius: 1px;
  margin-top: 30px 22px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
